@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}


a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100px;

    /* Header */

    background: #98DDFC;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    flex: 0 1 auto;
}

#left-header-side{
    padding-left: 1.5%;
    gap: 2%;
    display: flex;
    justify-content: space-between;
    width: 28%;
    align-items: center;
}

.logo{
    width: 136px;
    height: 52px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

header #search-bar{
    padding: 8px 6px;

    width: 100%;

    /* White */
    font-size:16px;

    background: #F8F8F8;
    /* button 2 */

    border: 4px solid #3E88EF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
    border-radius: 10px;
    transition: 500ms ease-in-out;
}

header #search-bar:focus {
    content: 'Пошук';
    outline-width: 0;
    border: 4px solid #1D6AEF;
}




.navigation_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    gap: 57px;
    width: 720px;
    height: 92px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.navigation_buttons a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 15px;
    height: 44px;
    background: #1CAEEF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    border: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;

}
.navigation_buttons a:hover{
    background: #0C68E8;
}
.no_account{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 40px;

    gap: 15px;

    width: 78px;
    height: 74px;

    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}
.no_account a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 78px;
    height: 74px;

    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.image_account{
    box-sizing: border-box;

    width: 45px;
    height: 45px;


    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    font-size: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    
    letter-spacing: -0.019em;
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    flex-grow: 0;
}


/* Modal */


.modal-header.open {
    transform: translateX(179%);
  }
  
.modal-header {
    /* Update CSS with transition and transform rules */
    transition: transform 0.2s ease-out;
    transform: translateX(278%);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 36%;
    height: 75%;
    overflow: auto;
    background: #FFFFFF;

    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: column;

    gap: 12px;

    justify-content: flex-start;
    align-items: center;
    padding: 10px;

    border: 4px solid #3E88EF;
    border-top-left-radius: 20px; border-bottom-left-radius: 20px;
}

#H-chat-header{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    
    gap: 15px;
    /* French Sky Blue */
    
    border-radius: 10px;
}

#H-chat-header-name{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 90%;
    height: 100%;
    
    /* French Sky Blue */
    
    border: 2px solid #61AFF7;
    border-radius: 10px;
}

#H-chat-messages{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    

    width: 100%;
    height: 83%;
    overflow-y: auto;
}

#H-chat-messages::-webkit-scrollbar{
    display: none;
}

.message-container{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
    min-height: 9%;

    width: 100%;
}

.message-container.right{
    flex-direction: row-reverse;
}

.H-user-icon{
    width: 8%;
    border-radius: 50%;
    overflow: hidden;
    border: #3E88EF solid 2px;
}

img.H-your-logo{
    width: 100%;
}

.message-cloud{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    min-width: 5%;
    max-width: 89%;

    height:100%;  
}

.message-cloud.right{
    flex-direction: row-reverse;
}

.point{
    width: 21px;
    height: 24px;
    margin: 0px -10px;
    z-index: 1;
}

.point.right{
    transform: rotate(-180deg);
}

.message-box{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 10px;
    gap: 12px;
    

    max-width: 100%; 

    /* Persian Blue */
    
    background: #0836C1;
    border-radius: 16px;
    
    z-index: 2;
}


.message-text{
    width: 100%;
    color: #FFFFFF;
    word-wrap: break-word;
}



#H-chat-input{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 20px;
    
    width: 100%;
    height: 12%;
}

#H-send-button{
    box-sizing: border-box;

    /* Auto layout */
    cursor: pointer;

    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px 12px;
    gap: 10px;
    
    height: 55%;
    
    /* button 2 */
    
    border: 2px solid #3E88EF;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

#H-message-input{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 0px 2px 10px;
    gap: 24px;
    
    width: 60%;
    height: 55%;
    
    background: #F8F8F8;
    /* button 2 */
    
    border: 2px solid #3E88EF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
    border-radius: 10px;
}

#H-chats-header{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    
    gap: 15px;
    /* French Sky Blue */
    
    border-radius: 10px;
}

#H-chats{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    width: 100%;
    height: 95%;
    
}

.H-chat{
    box-sizing: border-box;

    /* Auto layout */
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    width: 100%;
    height: 9%;
    
    /* button 2 */
    
    border: 3px solid #3E88EF;
    border-radius: 15px;
}

.H-chat-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
    width: 62%;
    height: 100%;
}

.H-chat-info span{
    font-size: small;
    display: block;
    width: 100%;
    height: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.H-file-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 3px;
    
    width: 22%;
    height: 100%;
}

#H-chat-content{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.H-file-image-logo{
    width: 40px;
    height: 40px;
    border: #3E88EF solid 2px;
    border-radius: 15px;
    
}

.H-modal-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px;
    gap: 10px;
    
    cursor: pointer;

    font-size: 18px;
    
    border: none;
    background: #1CAEEF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}



body::-webkit-scrollbar{
    display: none;
}