{% extends 'base.html' %}
{% load static %}


{% block style %}<link rel="stylesheet" href="{% static 'css/enter.css' %}">{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}
<div id="content">   
    <main>
        <form method="post">
        {% csrf_token %}
        <div class="login_content">
            <div class="login">Логін:</div>
            <p><input class="field" type="text" placeholder="login" name="login" required></p>
            <p><input class="field type="password" placeholder="password" name="password" required></p>
            <button class="button_login">Вхід</button>
            <p style="color: red;">{{error}}</p>
        </div>

        </form>
    </main>
</div> 
{% endblock %}