<!--успадковується від base.html-->
{% extends 'base.html' %}
<!--Ця директива використовується для завантаження бібліотеки тегів статичних файлів шаблонів, -->
{% load static %}


<!--отвечает за включение файла enter.css-->
{% block style %}<link rel="stylesheet" href="{% static 'css/enter.css' %}">{% endblock %}
<!--налаштування заголовка сторінки-->
{% block title %}Login{% endblock %}
<!--керування вмістом веб-сторінки -->
{% block content %}
<!--Елемент служить контейнером або розділом у HTML-документі, який може -->
<div id="content">   
    <main>
        <!--створення інтерактивної форми на веб-сторінці -->
        <form method="post">
        <!--це міра безпеки, що використовується для захисту від атак із підробкою міжсайтових запитів. -->
        {% csrf_token %}
        <div class="login"><h1>Логін</h1></div>
        <div class="field-boxes">
            <div class="field-box">
                <h4>Псевдонім</h4>
                <p><input class="field" type="text" placeholder="Введіть псевдонім" name="login" required></p>
            </div>
            <div class="field-box">
                <h4>Пароль</h4>
                <p><input class="field" type="password" placeholder="Введіть пароль" name="password" required></p>
            </div>
            <p style="color: red;">{{error}}</p>
        </div>
        <button class="button-enter">Вхід</button>
        </form>
    </main>
</div> 
{% endblock %}