{% extends 'base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'css/all_documentation.css' %}">{% endblock %}
{% block title %}Files Documentation{% endblock %}

{% block content %}
    <div class="content">
        <div id="box-back"><a href="{% url 'documentation' %}">Назад</a></div>
            <h1>Файли</h1>
            <img src="{% static 'image/file_icon.png' %}" alt="">
            <p>Ласкаво просимо в розділ підтримки Filejet! Нижче наведено корисну інформацію про різні типи файлів та безпеку їх для вашої зручності.</p>
            <h3>Текстові файли (.txt, .docx, .pdf)</h3>
            <p>Це файли, що містять текстову інформацію.</p>
            <p>Filejet застосовує різні заходи безпеки, щоб забезпечити конфіденційність та цілісність текстових файлів. Усі файли передаються захищеними каналами зв'язку та зберігаються на серверах з високим рівнем захисту даних.</p>
            <h3>Зображення (.jpeg, .png, .gif)</h3>
            <p>Це файли, що містять графічну інформацію або фотографії.</p>
            <p>Filejet використовує технології шифрування для забезпечення безпеки зображень, переданих через платформу. Усі файли зображень зберігаються в захищених серверних середовищах з обмеженим доступом.</p>
            <h3>Відео (.mp4, .mov, .avi)</h3>
            <p>Це файли, що містять відеозаписи або фільми.</p>
            <p>Filejet забезпечує безпечну передачу та зберігання відеофайлів, використовуючи протоколи шифрування та захисту даних. Відеофайли зберігаються на серверах з високим рівнем фізичної та кібербезпеки.</p>
            <h3>Аудіо (.mp3, .wav, .aac)</h3>
            <p>Це файли звукових записів або музики.</p>
            <p>Filejet гарантує захист аудіофайлів від несанкціонованого доступу та забезпечує безпечну передачу через шифровані канали зв'язку. Всі аудіофайли зберігаються в захищеному середовищі з обмеженим доступом.</p>
            <h3>Документи (.pdf, .docx, .xlsx)</h3>
            <p>Це файли, що містять документи, такі як текстові файли, таблиці або презентації.</p>
            <p>Filejet застосовує надійні методи шифрування та безпеки для зберігання та передачі документів. Усі документи перебувають під захистом від несанкціонованого доступу та зберігаються в безпечному середовищі.</p>
            <p>Безпека чату між викладачем файлу та користувачем також має велике значення для Filejet. Ми застосовуємо шифрування з кінця в кінець, щоб забезпечити конфіденційність повідомлень та інформації, яку обмінюють викладач та користувач. Крім того, ми використовуємо заходи безпеки для захисту від несанкціонованого доступу до чату та перешкоджаємо небажаним атакам.</p>
            <p>Ми приділяємо велику увагу безпеці вашої інформації та файлів на Filejet і робимо все можливе, щоб забезпечити найвищий рівень захисту. Якщо у вас є будь-які додаткові питання або потребуєте додаткової допомоги, будь ласка, зверніться до нашої служби підтримки.</p>
    </div>
{% endblock %}