<!--успадкування одного шаблону від іншого-->
{% extends 'base.html' %}
<!--творець правильної URL-адреси для статичного файлу-->
{% load static %}
<!--створює посилання на зовнішній файл CSS-->
{% block style %}<link rel="stylesheet" href="{% static 'css/all_documentation.css' %}">{% endblock %}
<!--це HTML-елемент, що визначає область визначення -->
{% block content %}
<!-- керування вмістом веб-сторінки.-->
    <div class="content">
        <!--основное содержимое веб-страницы -->
        <main>
            <h1>Акакунти</h1>
            <!-- шлях до зображення-->
            <img src="{% static 'image/account_icon.png' %}" alt="">
            <!-- Письмова наповнення сайту -->
            <p>Ласкаво просимо в розділ "Акаунти" FileJet. Тут ви знайдете інформацію про ваш обліковий запис, налаштування безпеки та інші пов'язані з акаунтом деталі. Ми прагнемо зробити ваш досвід використання FileJet якомога зручним та персоналізованим. Ознайомтеся з нижче наведеними відомостями.</p>
            <h3>Ваш обліковий запис</h3>
            <p>Тут ви можете переглянути та управляти своїм особистим обліковим записом FileJet. Ви можете оновлювати свої контактні дані, змінювати пароль, налаштовувати повідомлення та керувати іншими параметрами вашого акаунту. Ми рекомендуємо регулярно перевіряти і оновлювати свою інформацію, щоб забезпечити безпеку вашого облікового запису.</p>
            <h3>Керування файлами</h3>
            <p> У розділі "Акаунти" ви зможете керувати вашими завантаженими файлами. Ви можете переглянути, редагувати та керувати правами доступу до ваших файлів. Ми надаємо вам зручні інструменти для організації та керування вашими файлами в FileJet.</p>
            <h3>Допомога та підтримка</h3>
            <p> Якщо у вас виникли запитання або проблеми, пов'язані з вашим обліковим записом, будь ласка, зверніться до нашої служби підтримки. Наша команда завжди готова надати вам допомогу та вирішити будь-які питання, які виникають під час використання FileJet.</p>
            <p>Ми цінуємо ваше довір'я та робимо все можливе, щоб забезпечити безпеку та зручність вашого облікового запису. Будь ласка, скористайтеся цим розділом "Акаунти" для налаштування та керування вашими особистими параметрами. Дякуємо, що обрали FileJet!</p>
        </main>
    </div>
    <!--  конец блока  -->
{% endblock %}