<!--успадкування одного шаблону від іншого-->
{% extends 'base.html' %}
<!--творець правильної URL-адреси для статичного файлу-->
{% load static %}
<!--створює посилання на зовнішній файл CSS-->
{% block style %}<link rel="stylesheet" href="{% static 'css/all_documentation.css' %}">{% endblock %}

{% block title %}Confident Documentation{% endblock %}
<!--це HTML-елемент, що визначає область визначення -->
{% block content %}
<!-- керування вмістом веб-сторінки.-->
    <div class="content">
        <!--основное содержимое веб-страницы -->
        <main>
            <h1>Конфіденційність</h1>
            <!-- шлях до зображення-->
            <img src="{% static 'image/confidentiality_icon.png' %}" alt="">
            <!-- Письмова наповнення сайту -->
            <p>Ця вкладка про конфіденційність надає вам інформацію про те, як ми збираємо, використовуємо та захищаємо вашу особисту інформацію. Будь ласка, ознайомтеся з наведеними нижче деталями.</p>
            <h3>Збір та використання інформації</h3>
            <p> Ми збираємо обмежену кількість інформації, коли ви використовуєте наші послуги. Це включає ваше ім'я, електронну пошту та дані, пов'язані з вашим обліковим записом. Ми використовуємо ці дані для забезпечення доступу до ваших файлів та надання необхідної підтримки. Ми гарантуємо, що ваша особиста інформація залишається конфіденційною. Ми не розкриваємо її третім сторонам без вашої згоди, за винятком випадків, коли це необхідно з метою виконання наших послуг або згідно з вимогами законодавства</p>
            <h3>Захист даних</h3>
            <p> Ми вживаємо відповідних заходів безпеки, щоб захистити вашу особисту інформацію від несанкціонованого доступу, втрати або викриття. Ми використовуємо шифрування та інші технологічні засоби для захисту вашої інформації від зловживання. Файли, які ви завантажуєте до FileJet, також підлягають захисту. Ми забезпечуємо їх зберігання на безпечних серверах і не дозволяємо несанкціонованим користувачам отримувати доступ до цих файлів.</p>
            <h3>Використання файлів</h3>
            <p>Ми поважаємо вашу власність до завантажених вами файлів. FileJet не розглядає, не редагує та не розкриває ваші файли третім сторонам без вашої згоди. Ми зберігаємо ваші файли на наших серверах тільки з метою надання послуг, які ви запитуєте.</p>
            <h3>Зберігання даних</h3>
            <p>Ми зберігаємо вашу особисту інформацію лише протягом необхідного періоду для надання послуг та дотримання законодавства. Якщо ви вирішите припинити використання нашого сервісу, ми забезпечимо видалення вашої особистої інформації з наших систем у відповідності до наших політик зберігання.</p>
            <h3>Зв'язок з нами</h3>
            <p>Якщо у вас є питання щодо конфіденційності або якщо ви хочете отримати додаткову інформацію про те, як ми обробляємо ваші дані, будь ласка, зв'яжіться з нами через нашу підтримку. Ми завжди готові допомогти вам та відповісти на всі ваші запитання.</p>
            <p>Ми дуже цінуємо вашу довіру, яку ви нам надаєте. Ми зобов'язуємося дотримуватися найвищих стандартів конфіденційності та безпеки, щоб забезпечити захист вашої особистої інформації. Дякуємо за використання FileJet!</p>
            
        </main>
    </div>
   
{% endblock %}