{% extends 'base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'css/main_documentation.css' %}">{% endblock %}
{% block title %}Documentation{% endblock %}

{% block content %}
<div class="content">
    <main>
        <!--  -->
        <a href="{% url 'documentation_confident' %}"><div class="button_confidentiality"><img class="confidentiality_icon" src="{% static 'image/confidentiality_icon.png' %}" alt=""> Конфіденційність</div></a>
        <a href="{% url 'documentation_account' %}"><div class="button_account"><img class="account_icon" src="{% static 'image/account_icon.png' %}" alt=""> Акаунт</div></a>
        <a href="{% url 'documentation_files' %}"><div class="button_file"><img class="file_icon" src="{% static 'image/file_icon.png' %}" alt=""> Файли</div></a>
    </main>
</div>
{% endblock %}