<!--успадкування одного шаблону від іншого-->
{% extends 'base.html' %}
<!--творець правильної URL-адреси для статичного файлу-->
{% load static %}
<!--створює посилання на зовнішній файл CSS-->
{% block style %}<link rel="stylesheet" href="{% static 'css/about_us.css' %}">{% endblock %}
{% block title %}{% endblock %}
<!--це HTML-елемент, що визначає область визначення -->
{% block content %}
<main>
    <!--містить зображення та абзац тексту.-->
    <div class="first slide">
        <div class="left_slide">
            <img class="picture" src="{% static 'images/picture_logo.png' %}" alt="">
        </div>
        
        <div class="right_slide">
            <div class="text">
                <p>FileJet - це інноваційний безкоштовний веб-сервіс, який пропонує безпечне та зручне зберігання файлів в хмарі. Цей сайт створений з метою надати користувачам можливість зберігати, організовувати та обмінюватись своїми файлами в онлайн-середовищі.</p>
            </div>
            
        </div>
    </div>
 <!--містить зображення та абзац тексту.-->
    <div class="second slide">
        <div class="left_slide">
            <div class="text">
                <p>На FileJet ви можете завантажити будь-які типи файлів - фотографії, відео, документи, архіви та багато іншого. Після завантаження ваші файли автоматично розміщуються в безпечному і надійному сховищі в хмарі, що гарантує їх збереження та доступність з будь-якого пристрою з Інтернет-підключенням.</p>
            </div>
            
        </div>
        <!--створює посилання на зовнішній файл CSS-->
        <div class="right_slide">
            <img class="picture" src="{% static 'images/folder_icon.png' %}" alt="">
        </div>
        
    </div>
 <!--містить зображення та абзац тексту.-->
    <div class="third slide">
        <div class="left_slide">
            <img class="picture" src="{% static 'images/chat_icon.png' %}" alt="">
        </div>
        
        <div class="right_slide">
            <div class="text">
                <p>Однак, FileJet пропонує не лише просте зберігання файлів. Сервіс також оснащений вбудованим чатом, який дозволяє користувачам спілкуватись один з одним в рамках платформи. Це зручна функція, яка дозволяє легко обмінюватись файлами та спільно працювати над проектами. Ви можете створювати групові чати або взаємодіяти один на один з іншими користувачами, обговорюючи деталі, коментуючи файли та спільно працюючи над проектами.</p>
            </div>
            
        </div>
    </div>
 <!--містить зображення та абзац тексту.-->
    <div class="fourth slide">
        <div class="left_slide">
            <div class="text">
                <p>Зручний і простий інтерфейс FileJet дозволяє легко навігувати по вашим файлам, організовувати їх у папки та встановлювати права доступу для співробітників або співмайстрів. Крім того, FileJet забезпечує високий рівень захисту даних, використовуючи шифрування та інші заходи безпеки, що дозволяють вам мати повну впевненість у приватності та безпеці ваших файлів.</p>
            </div>
            
        </div>        
<!--створює посилання на зовнішній файл CSS-->
        <div class="right_slide">
            <img class="picture" src="{% static 'images/lock_icon.png' %}" alt="">
        </div>
        
   
    </div>
<!--містить зображення та абзац тексту.-->
    <div class="fifth slide">
        <!--фото-->
        <div class="left_slide">
            <img class="picture" src="{% static 'images/icon.png' %}" alt="">
        </div>
        <div class="right_slide">
            <div class="text">
                <p>Незалежно від того, чи ви професійний фотограф, студент, бізнесмен чи звичайний користувач, FileJet є ідеальним рішенням для зберігання та обміну файлами. Приєднуйтесь до FileJet вже сьогодні і насолоджуйтеся безкоштовним облаком файлів разом з функцією чату, яка полегшить вашу роботу та спілкування з іншими користувачами.</p>
            </div>
        </div>

    </div>
    <footer>
        <div class="left_side">
            <div class="rights">
                <h2>© 2023 FileJet.</h2>
                <p>Усі права захищені.</p>
                <div class="social_media">
                    <p>Мы у соц-мережах:</p>
                    <div class="social_buttons">
                        <a href="https://telegram.org/"><img src="{% static 'images/telegram_button.png' %}" alt=""></a>
                        <a href="https://twitter.com/file_jet"><img src="{% static 'images/twiter_button.png' %}" alt=""></a>
                        <a href="https://www.instagram.com/filejet_/"><img src="{% static 'images/instagram_button.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
    
            <div class="contacts">
                <!--Текстове наповнення сайту.-->
                <h3>Адреса:</h3>
                <p>Київська область, місто Київ, пл. Копиленка, 07</p>
                <h3>Пошта:</h3>
                <p>FileJet@gmail.com</p>
                <h3>Контактний номер телефона:</h3>
                <p>+380998743965</p>
            </div>
        </div>
        <div class="right_side">
            <!--Текстове наповнення сайту.-->
            <h1>Команда розробників</h1>
            <div class="development_team">
                <div class="line">
                    <p>Мирон Осипенко</p>
                    <p>Шаров Андрій</p>
                </div>
                <div class="line">
                    <p>Данило Варянік</p>
                    <p>Олексій Біляєв</p>
                </div>
            </div>
        </div>
    </footer>
</main>


{% endblock %}