#content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 0px 0px;
    gap: 20px;

    width: 100%;
    height: 740px;

}

#profile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    gap: 15px;

    flex-basis: 20%;

    height: 715px;

    background: #FFFFFF;
    /* Persian Blue */

    border: 2px solid #0836C1;
    border-radius: 20px;

    /* Inside auto layout */

    order: 0;
    align-self: stretch;
}

#profile-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    gap: 15px;

    min-width: 70%;
    height: 715px;

    background: #FFFFFF;
    /* Persian Blue */

    border: 2px solid #0836C1;
    border-radius: 20px;

    /* Inside auto layout */

    order: 0;
    align-self: stretch;
}

#profile-picture img{
    box-sizing: border-box;
    border-radius: 100%;
    width: 204px;
    height: 204px;
    
    border: 2px solid #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#text-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    width: 100%;
    height: 303px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

#name-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    width: 338px;
    height: 68px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

#email{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    
    width: 338px;
    height: 41px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;    
}

#amount-files{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;  
    width: 338px;
    height: 41px;   
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

#acception{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 6px;
    gap: 10px;
    
    width: 93%;
    height: 103px;
    margin: 0 auto;
    
    /* Persian Blue */
    
    border: 2px solid #0836C1;
    border-radius: 10px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    flex-grow: 0;
}

#button-accept-email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    
    /* new button */
    
    background: #1CAEEF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

#button-accept-email:hover{
    background: #0C68E8;
}

#profile-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 30px;
    
    width: 338px;
    height: 138px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

#profile-buttons a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 100%;

    /* French Sky Blue */
    
    padding: 12px 0px;

    background: #61AFF7;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}














/*  */


#buttons-menu{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    gap: 54px;
    

    width: 100%;
    height: 84px;
    
    background: #FFFFFF;
    /* Persian Blue */
    
    border: 2px solid #0836C1;
    border-radius: 20px;
    
}

#buttons-menu a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

    /* French Sky Blue */
    
    padding: 12px 0px;

    background: #61AFF7;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}