<!-- <form method="post" enctype="multipart/form-data"> -->
<!--успадкування одного шаблону від іншого-->
{% extends 'base.html' %}
<!--творець правильної URL-адреси для статичного файлу-->
{% load static %}
<!--створює посилання на зовнішній файл CSS-->
{% block style %}<link rel="stylesheet" href="{% static 'css/file.css' %}">{% endblock %}
{% block title %}File{% endblock %}
{% block script %} <script src="{% static 'js/file.js' %}" defer></script> {% endblock %}

<!-- керування вмістом веб-сторінки.-->
{% block content %}
<div id="wrapper">
    <div id="file">
        <div id="file-header">
            <input type="hidden" id="file-owner-pk" value="{{ file.user.pk }}">
            <input type="hidden" id="file-pk" value="{{ file.pk }}">
            <div id="image">
             <!--використовує систему шаблонів, яка підтримує змінний рендеринг-->
                {% if file.image %}
                <img src="{{ file.image.url }}" alt="{{ file.name }}">
                {% else %}
                <img src="{% static 'images/sad_file.svg' %}" alt="Нема забраження файлу">
                {% endif %}   
            </div>
            <div id="text-info">
                <div class="file-name">
                    <h2>Назва:</h2>
                    <!--Вміст змінної file.name буде замінено та відображено як текст у заголовку.-->
                    <h4>{{ file.name }}</h4>
                </div>
                <div class="file-name">
                    <h2>Статус:</h2>
                    <!--Вміст змінної file.private буде замінено та відображено як текст у заголовку. -->
                    <div id="private-info">
                        <h4>{% if file.private %}
                        Відкрито
                        {% else %}
                        <!-- <img src="{# static 'images/lock.svg' #}" alt="Замкнуто"> -->
                        Приватно
                        {% endif %}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div id="file-body">
            <h2 id="description-h2">Опис</h2>
            <h4 id="description-text">{% if file.description %}
                {{ file.description }}
                {% else %}
                Нема опису файла!
                {% endif %}</h4>
        </div>
        <div id="file-footer">
            <a href="{% url 'download_file' file.pk %}" id="text-download">Завантажити файл</a>
            <!--відображення статичного зображення-->
            {% if is_uploader %}
            <button id="oLModal" class="modal-button" onclick="openModal('Modal-uploader')"><img src="{% static 'images/chat_icon.svg' %}" alt="Чат"></button>
            {% elif not is_uploader %}
            <button id="oModal" class="modal-button" onclick="openModal('Modal-user')"><img src="{% static 'images/chat_icon.svg' %}" alt="Чат"></button>
            {% endif %}
        </div>
    </div>
</div>


<!-- modal for uploader -->
{% if is_uploader %}
<div id="Modal-uploader" class="modal modal_move">
    <div id="chats-header">
        <button class="modal-button" onclick="closeModalHeader('Modal-uploader')">&Cross;</button>
        <div id="chat-header-name">
            Мої чати
        </div>
    </div>
    <div id="chats">
        {% for list in chat_and_last_message_list %}
        <div class="chat">
            {% for value in list %}
                {% if value.image is not defined %}
                    <div class="user-icon"><img class="your-logo" src="{{ value.image.url }}" alt=""></div>
                {% elif value.message is not defined or value == '' %}
                    {% if value == '' %}
                        <div class="chat-info">Ще нема сповіщень від цього користувача</div>
                    {% else %}
                        <div class="chat-info"><span>{{ value.user.username }}</span><span>{{ value.message }}</span></div>
                    {% endif %}
                {% elif value.file is not defined %}
                    <div class="file-info">
                        <img src="{{ value.file.image.url }}" alt="File image" class="file-image-logo">
                        <span class="file-name">{{ value.file.name }}</span>
                    </div>
                    <input type="hidden" value="{{ value.pk }}">
                {% endif %}
                
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div id="chat-content">
        <div id="chat-header">
            <button class="modal-button" onclick="closeModal('Modal-uploader')">&Cross;</button>
            <div id="chat-header-name">
                <span id="chat-name"></span>
            </div>
        </div>
        <div id="chat-messages">
        </div>
        <div id="chat-input">
            <input type="text" name="message-input" id="message-input">
            <button id="send-button">
                <img src="{% static 'images/send_button.svg' %}" alt="Send">
            </button>
        </div>
    </div>
    <input type="hidden" id="chat-pk"></input>
</div>
{% endif %}


<!-- Modal -->
{% if not is_uploader %}
<div id="Modal-user" class="modal modal_move">
    <div id="chat-header">
        <div id="choose-chat-header"><button class="modal-button" onclick="closeModal('Modal-user')">&Cross;</button><span id="chat-name"></span></div>
    </div>
    <div id="chat-messages">
        
    </div>
    <div id="chat-input">
        <input type="text" name="message-input" id="message-input">
        <button id="send-button">
            <img src="{% static 'images/send_button.svg' %}" alt="Send">
        </button>
    </div>
    <input type="hidden" id="chat-pk"></input>
</div>
{% endif %}

{% endblock %}