<!-- <form method="post" enctype="multipart/form-data"> -->
<!--успадкування одного шаблону від іншого-->
{% extends 'base.html' %}
<!--творець правильної URL-адреси для статичного файлу-->
{% load static %}
<!--створює посилання на зовнішній файл CSS-->
{% block style %}<link rel="stylesheet" href="{% static 'css/file.css' %}">{% endblock %}
{% block title %}File{% endblock %}

<!-- керування вмістом веб-сторінки.-->
{% block content %}
<div id="wrapper">
    <div id="file">
        <div id="file-header">
            <div id="image">
                <img src="{{ file.image.url }}" alt="{{ file.name }}">
            </div>
            <div id="text-info">
                <h4>{{ file.name }}</h4>
                <h4>{{ file.private }}</h4>
            </div>
        </div>
        <div id="file-body">
            <h2 id="description-h2">Опис</h2>
            <h4 id="description-text">{{ file.description }}</h4>
        </div>
        <div id="file-footer">
            <a href="" id="text-download">Завантажити файл</a>
            <a href=""><img src="{% static 'images/chat_icon.svg' %}" alt=""></a>
        </div>
    </div>
</div>
{% endblock %}