{% extends 'base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'css/upload_file.css' %}">{% endblock %}
{% block title %}{% endblock %}
{% block script %}<script src="{% static 'js/upload_file.js' %}" defer ></script>{% endblock %}

{% block content %}
    <main>
        <div class="settings_image">
            <span id="without-text"><h3>Виберіть файл</h3></span>
            
            <div class="image_design">
                <img id="image-file" src="{% static 'images/none_page.jpg' %}" alt="None">
                <div class="settings_image_design">
                    <h3>Назва:<span id="file-name"></span></h3>
                    <h3>Тип:<span id="file-type"></span></h3>
                    <h3>Важить:<span id="file-size"></span></h3>
                </div>
            </div>
        </div>
        <div class="settings">
            
            <form method="post" enctype="multipart/form-data" id="form" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="send"><button type="submit" class="button_send">Опублікувати</button></div>
            </form>

        </div>
    </main>
{% endblock %}