{% extends 'base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'css/upload_file.css' %}">{% endblock %}
{% block title %}{% endblock %}

{% block content %}
    <main>
        <div class="settings_image">
            <h1>Здесь идет верстка</h1>
            <!-- <div class="image_design">
                <img src="{% static 'images/none_page.jpg' %}" alt="">
                <div class="settings_image_design">
                    <h3>Назва:</h3>
                    <h3>Тип:</h3>
                    <h3>Важить:</h3>
                </div>
            </div> -->
        </div>
        <div class="settings">
            
            <form method="post" enctype="multipart/form-data" novalidate>
                
                <!-- <div id="form-content">
                    
                    <label for="img-pick" id="label-img-pick">
                        Додати зображення
                    </label>
                    <input type="file" id="img-pick" name="img" accept="image/*">
                    <div class="file">
                        <input name="name" class="father_file" type="text" placeholder="Напишіть назву файлу:">
                        <input name="description" class="father_file" type="text" placeholder="Напишіть опис файлу:">
                    </div>
                    <label for="category">Choose a membership plan:</label>
                      <select name="category" id="category">
                        {% for category in categories %}
                        <option value="{{ category.pk }}">{{ category.name }}</option>
                        {% endfor %}
                      </select>
                    <div class="private_file"><input name="private" class="private_file" type="checkbox">Зробити приватним</div>
                    <div class="private_file"><input type="checkbox" >Погодитись з нашою політикою</div>
                    
        
                </div> -->
                {% csrf_token %}
                {{ form.as_p }}
                <div class="send"><button type="submit" class="button_send">Опублікувати</button></div>
            </form>

        </div>
    </main>
{% endblock %}