#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    flex: 1 1 auto;
    order: 1;
    align-self: stretch;

}


main {
    width: 28%;
    height: 58%;
    background: #F8F8F8;
    border: 3px solid #1D6AEF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
    border-radius: 25px;
}

main form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 35px;
    padding: 20px 0;
}

.field{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    width: 100%;
    height: 34px;
    background: #F8F8F8;
    border: 2px solid #3E88EF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
    border-radius: 10px;
}

.field:focus{
    outline-width: 0;
    border: 2px solid #1D6AEF;
}

.login{
    width: 100%;
    text-align: center;
}
.field-box{
    width: 70%;
}


.button-enter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 10%;
    background: #1CAEEF;
    
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    border: 0;
    transition: 200ms ease-in;
    cursor: pointer;
}

.button-enter:hover{
    background: #4563e7;
}


.field-boxes{
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    gap: 10px;
}

#reg-main{
    height: 70%;
}



@media (max-width:767px) {
    main {
        width: 60%;
        height: 45%;
    }
    main form{
        gap: 20px;
        padding: 3px 0;
    }
    .button-enter{
        width: 70%;
        height: 34px;
        border-radius: 10px;
    }
    form h1{
        font-size: x-large;
    }

    .field-boxes{
        gap: 10px;
    }

}