{% extends 'base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'css/subscription.css' %}">{% endblock %}
{% block title %}Subscription{% endblock %}
{% block script %} <script src="{% static 'js/subscription.js' %}"></script> {% endblock %}
{% block content %}

<div id="content">
    <h2><span>Тарифи</span></h2>
    <div id="subscriptions-list">
        {% for subscription in subscriptions %}
        <div class="subscription-container">
            <div class="subscription-header">
                <img src="{{ subscription.image.url }}" alt="{{ subscription.name }}">
                <span>{{ subscription.name }} Тариф</span>
            </div>
            <div class="subscription-body">
                <ul class="list-attributes">
                    {% for description in subscription.description %}
                    <li class="li-1">{{ description }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="subscription-footer">
                {% if subscription.name == "Базовий" %}
                <h3>Підключено</h3>
                {% else %}
                <a class="order-button" href="">Підключити</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}