<!--успадкування одного шаблону від іншого-->
{% extends 'base.html' %}
<!--творець правильної URL-адреси для статичного файлу-->
{% load static %}
<!--створює посилання на зовнішній файл CSS-->
{% block style %} <link rel="stylesheet" href="{% static 'css/profile.css' %}"> {% endblock %}
{% block title %}Profile{% endblock %}
<!--це HTML-елемент, що визначає область визначення -->
{% block content %}
<!-- керування вмістом веб-сторінки.-->
<div id="content">
    <div id="profile-menu">
        <div id="profile-picture">
            <!--перевірка--> 
            {% if profile.image %}
            <!--використовує це ім'я класу для переважного стилю елемента зображення--> 
            <img class="image_account" src="{{ profile.image.url }}" alt="Нема аккаунту">
            <!-- є частиною умовного оператора у шаблонах--> 
            {% else %}
            <!--використовує це ім'я класу для переважного стилю елемента зображення-->  
            <img class="image_account" src="{% static 'images/unregistrate_user.png' %}" alt="Нема аккаунту">
            <!--используется для обозначения конца условного блока--> 
            {% endif %}
        </div>
        <div id="text-info"> 
            <div id="name-login">
                <!--представляет переменную --> 
                <span>{{ profile.user.first_name }}</span>
                <span>{{ profile.user.username }}</span>
            </div>
            <div id="email">
                <!--представляет переменную --> 
                <span>Пошта: {{ profile.user.email }}</span>
            </div>
            <div id="amount-files">
                <span>Завантажено файлів: 1000</span>
            </div>
            <div id="acception">
                <span>Користувач не підтверджений</span>

                <a href="{% url 'authenticate' %}" id="button-accept-email">Підтвердити!</a>
            </div>
        </div>
        <div id="profile-buttons">
            <a href="{% url 'password_change' %}"><span>Змінити пароль</span></a>
            <a href="{% url 'logout' %}"><span>Вийти з акаунту</span></a>
        </div>
    </div>
    <div id="profile-content">
        <div class="skill-box">
            <span class="title">Місце для файлів: 90/100 MB</span>

            <div class="skill-bar">
                <span class="skill-per html">
                    <span class="tooltip">90%</span>
                </span>
            </div>
        </div>
        <div id="buttons-menu">
            <a href="">Завантажені файли</a>
            <a href="">Ваші повідомлення</a>
            <a href="">Відправлені вам повідомлення</a>
        </div>
        <!----> 
        <div id="files">
             <!----> 
            {% for file in files %}
            <div class="file">
                <div class="file-image">
                     <!----> 
                    {% if file.image %}
                    <img src="{{ file.image.url }}" alt="{{ file.name }}">
                    {% else %}
                    Нема зображення
                    {% endif %}
                </div>
                <div class="file-info">
                     <!----> 
                    <span>{{ file.name }}</span>
                     <!----> 
                    <span>{{ file.description }}</span>
                </div>
                <div class="file-button">
                    <a class="button-to-file" href="{% url 'file' file.pk %}">Перейти</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}