<!--успадкування одного шаблону від іншого-->
{% extends 'base.html' %}
<!--творець правильної URL-адреси для статичного файлу-->
{% load static %}
<!--створює посилання на зовнішній файл CSS-->
{% block style %}<link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock %}
{% block title %}Profile{% endblock %}
{% block script %}<script src="{% static 'js/profile.js' %}" defer></script>
<script>
    function changeWidth(rule) {
        let css = document.createElement('style');
        css.type = 'text/css';
        if (css.styleSheet) css.styleSheet.cssText = rule; // Support for IE
        else css.appendChild(document.createTextNode(rule)); // Support for the rest
        document.getElementsByTagName("head")[0].appendChild(css);
    }
    
    function bytesToSize(bytes) {
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB']
        if (bytes === 0) return 'n/a'
        const i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)), 10)
        if (i === 0) return `${bytes} ${sizes[i]})`
        return `${(bytes / (1024 ** i)).toFixed(1)} ${sizes[i]}`
    }    
    // CSS rules
    let rule = '.skill-per { width: {{ profile.procent_size }}%; }';
    // Load the rules and execute after the DOM loads
    window.onload = function() {
        changeWidth(rule)
        let usedCloudSize = '{{ profile.used_size }}'
        let totalCloudSize = '{{ profile.total_size }}'

        usedCloudSize = parseInt(usedCloudSize)
        totalCloudSize = parseInt(totalCloudSize)

        let usedSize = document.querySelector("#used-size")
        let totalSize = document.querySelector("#total-size")

        usedSize.innerHTML = bytesToSize(usedCloudSize)
        totalSize.innerHTML = bytesToSize(totalCloudSize)
    };
</script>{% endblock %}
<!--це HTML-елемент, що визначає область визначення -->
{% block content %}
<!-- керування вмістом веб-сторінки.-->
<div id="content">
    <div id="profile-menu">
        <div id="profile-picture">
            <!--перевірка--> 
            {% if profile.image %}
            <!--використовує це ім'я класу для переважного стилю елемента зображення--> 
            <img class="image_account" src="{{ profile.image.url }}" alt="Нема аккаунту">
            <!-- є частиною умовного оператора у шаблонах--> 
            {% else %}
            <!--використовує це ім'я класу для переважного стилю елемента зображення-->  
            <img class="image_account" src="{% static 'images/unregistrate_user.png' %}" alt="Нема аккаунту">
            <!--используется для обозначения конца условного блока--> 
            {% endif %}
        </div>
        <div id="text-info"> 
            <div id="name-login">
                <!--представляет переменную --> 
                <span>{{ profile.user.first_name }}</span>
                <span>{{ profile.user.username }}</span>
            </div>
            <div id="email">
                <!--представляет переменную --> 
                <span>Пошта: {{ profile.user.email }}</span>
            </div>
            <div id="amount-files">
                <span>Завантажено файлів:{{ file_amount }}</span>
            </div>
            <div id="acception">
                <span>Користувач не підтверджений</span>

                <a href="{% url 'authenticate' %}" id="button-accept-email">Підтвердити!</a>
            </div>
        </div>
        <div id="profile-buttons">
            <a href="{% url 'password_change' %}"><span>Змінити пароль</span></a>
            <a href="{% url 'logout' %}"><span>Вийти з акаунту</span></a>
        </div>
    </div>
    <div id="profile-content">
        <div class="skill-box">
            <div class="skill-bar">
                <span class="skill-per">
                    <span class="tooltip">{{ profile.procent_size }}%</span>
                </span>
            </div>
            <span class="title">Місце для файлів: <span id="used-size"></span>/<span id="total-size"></span></span>
        </div>
        <div id="buttons-menu">
            <button class="button-profile selected"  value="files">Завантажені файли</button>
            <button class="button-profile" value="your-messages">Ваші повідомлення</button>
            <button class="button-profile" value="messages-to-you">Відправлені вам повідомлення</button>
        </div>
        <!----> 
        <div class="change-section" id="files">
             <!----> 
            {% for file in files %}
            <div class="box">
                <div class="box-image">
                     <!----> 
                    {% if file.image %}
                    <img src="{{ file.image.url }}" alt="{{ file.name }}">
                    {% else %}
                    Нема зображення
                    {% endif %}
                </div>
                <div class="box-info">
                     <!----> 
                    <span>{{ file.name }}</span>
                     <!----> 
                    <span>{{ file.description }}</span>
                </div>
                
                    <a class="button-to-box" href="{% url 'file' file.pk %}">Перейти</a>
                
            </div>
            {% endfor %}
        </div>
        <div class="change-section" id="your-messages">
            {% for list in messages_by_profile %}
            <div class="box">
                {% for value in list %}
                    {% if value.category is not defined  %}
                        <div class="box-image">
                           <img src="{{ value.image.url }}" alt="{{ value.name }}">
                        </div>
                    {% elif value. is not defined %}
                        <div class="box-info">
                            <span>{{ message.user }}</span>
                            <span>{{ message.message }}</span>
                        </div>
                    {% if value.category is not defined  %}
                        <a class="button-to-box" href="{# url 'file' value.pk #}">Перейти</a>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="change-section" id="messages-to-you">

        </div>
    </div>
</div>
{% endblock %}