{% extends 'base.html' %}
{% load static %}

{% block style %} <link rel="stylesheet" href="{% static 'css/profile.css' %}"> {% endblock %}
{% block title %}Profile{% endblock %}

{% block content %}
<div id="content">
    <div id="profile-menu">
        <div id="profile-picture">
            {% if profile.image %}
            <img class="image_account" src="{{ profile.image.url }}" alt="Нема аккаунту">
            {% else %}
            <img class="image_account" src="{% static 'elipss.png' %}" alt="Нема аккаунту">
            {% endif %}
        </div>
        <div id="text-info">
            <div id="name-login">
                <span>{{ profile.user.first_name }}</span>
                <span>{{ profile.user.username }}</span>
            </div>
            <div id="email">
                <span>Пошта: {{ profile.user.email }}</span>
            </div>
            <div id="amount-files">
                <span>Завантажено файлів: 1000</span>
            </div>
            <div id="acception">
                <span>Користувач не підтверджений</span>
                <a href="{% url 'authenticate' %}" id="button-accept-email">Підтвердити!</a>
            </div>
        </div>
        <div id="profile-buttons">
            <a href=""><span>Змінити пароль</span></a>
            <a href="{% url 'logout' %}"><span>Вийти з акаунту</span></a>
        </div>
    </div>
    <div id="profile-content">
        <div id="buttons-menu">
            <a href="">Завантажені файли</a>
            <a href="">Ваші повідомлення</a>
            <a href="">Відправлені вам повідомлення</a>
        </div>
        <div id="files">
            {% for file in files %}
            <div class="file">
                <div class="file-image">
                    <img src="{{ file.image.url }}" alt="{{ file.name }}">
                </div>
                <div class="file-info">
                    <span>{{ file.name }}</span>
                    <span>{{ file.description }}</span>
                </div>
                <div class="file-button">
                    <a class="button-to-file" href=""></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}