<html lang="en">
    <!--творець правильної URL-адреси для статичного файлу-->
    {% load static %}
    <!--база завантаження-->
    {% load base %}
    {% give_user request as profile %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <style>
        body{
            background-image: url("{% static 'images/window_registration.png' %}");
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    {% block style %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <div id="left-header-side">
            <p><a href="{% url 'main' %}"><img class="logo" src="{% static 'images/header-logo.png' %}" alt="Логотип компанії"></a></p>
            {% if user.is_authenticated %}
            <input type="text" id="search-bar" placeholder="Знайти ваш перший файл...">
            {% endif %}
        </div>
        
        <div class="navigation_buttons">
            <a href="{% url 'upload_file' %}">Завантажити файли</a>
            <a href="{% url 'about_us' %}">Про нас</a>
            <a href="{% url 'documentation' %}">Підтримка</a>
            <a href="{% url 'subscription' %}">Підписки</div></a>
        </div>
        <div class="no_account">
            <a href="{% url 'profile' %}">
                {% if profile.image %}
                <img class="image_account" src="{{ profile.image.url }}" alt="Нема аккаунту">
                {% else %}
                <img class="image_account" src="{% static 'elipss.png' %}" alt="Нема аккаунту">
                {% endif %}
                {{ profile.user.username }}
            </a>
        </div>   
    </header>
    {% block content %}{% endblock %}
</body>
</html>