<!--успадкування одного шаблону від іншого-->
{% extends 'base.html' %}
<!--творець правильної URL-адреси для статичного файлу-->
{% load static %}
{% block icon %}<link rel="shortcut icon" href="{% static 'images/main.ico' %}" type="image/x-icon">{% endblock %}
<!--визначає блок з ім'ям «стиль» і включає посилання на зовнішній файл CSS у цьому блоці-->
{% block style %} <link rel="stylesheet" href="{% static 'css/main.css' %}"> {% endblock %}
<!--визначає блок з ім'ям «заголовок» та надає вміст за умовчанням для цього блоку-->
{% block title %}Main{% endblock %}\


{% block content %}
  <div id="content">
    <!--перевіряє, чи не автентифікований користувач, тобто користувач не увійшов до системи.-->
    {% if not user.is_authenticated %}
      <div id="box">
        <!--картинка -->
        <img class="logo-main" src="{% static 'images/header-logo.png' %}" alt="Логотип компанії">
        <a href="{% url 'registration' %}">  
        <!---->
          <span>Зареєструватись</span>
        </a> 
       <!--Створення посилання-->
        <a href="{% url 'login' %}">
          <span>Увійти</span>
        </a>
      </div>
    {% endif %}
    {% if user.is_authenticated %}
    <!--створити елемент введення-->
      <form method="post">
        {% csrf_token %}
        <input type="text" id="search-bar" placeholder="Знайти ваш файл..." name="search-content">
      </form>
    {% endif %}
  </div>
{% endblock %}